---
import Layout from "../layouts/Layout.astro";

import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

const points = [
  {
    icon: "verified-user",
    title: "Guest screening and ID verification",
    points: [],
  },
  {
    icon: "wallet",
    title: "Paid on time",
    points: [
      "Because we are a business, rent will always be paid on time, regardless of the numbers of stays",
    ],
  },
  {
    icon: "emoji-satisfied",
    title: "Million dollar insurance policy",
    points: ["No worries about finding qualified tenants"],
  },
  {
    icon: "chat-lines",
    title: "No hassle/ communication with tenant",
    points: ["Never worry about finding qualified tenants"],
  },
  {
    icon: "key-alt",
    title: "Risk is low on investment",
    points: ["Usually sign long-term leases (2-4 years)"],
  },
  {
    icon: "wallet",
    title: "Consistent, professional cleaning",
    points: [
      "Pristine = great business",
      "With long term tenants you’re not aware of wear and tear until move out day = more time & money needed to rent out to next tenant",
    ],
  },
  {
    icon: "wallet",
    title: "Local staff at every property",
    points: [],
  },
  {
    icon: "wallet",
    title: "Damage control",
    points: [
      "Damages fixed immediately",
      "STR tenants aren’t home often (less traffic on property)",
      "Don’t have to worry about care of your property",
      "STR is easier on property",
      "Less liability",
      "Beautifully maintained",
      "Regular inspections and maintenance",
    ],
  },
  ,
];

const safety = [
  {
    icon: "lock",
    title: "Security System",
    points: [],
  },
  {
    icon: "sound-low",
    title: "Indoor and outdoor sensor to monitor noise",
    points: [],
  },
  {
    icon: "key-alt",
    title: "Smart Lock",
    points: [],
  },
  {
    icon: "verified-user",
    title: "Guest Screening and ID Verification",
    points: [],
  },
];
---

<Layout title="Book">
  <main>
    <section class="px-[5vw] md:px-[10vw] py-16">
      <div class="max-w-screen-xl mx-auto">
        <div class="mx-auto max-w-lg text-center">
          <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
            Why Partner With Us?
          </h2>
          <p class="text-lg mt-4 text-slate-600">
            We partner with residential landlords to offer a hassle-free,
            passive strategy to renting their property.
          </p>
        </div>

        <h2 class="mt-16 mb-10 font-bold text-2xl">Landlord Benefits</h2>

        <div class="grid sm:grid-cols-2 md:grid-cols-4 mb-16 gap-12">
          {
            points.map((point) => (
              <div class="flex gap-4 items-start">
                <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                  <Icon name={point.icon} class="invert" />
                </div>
                <div>
                  <h3 class="mt-1.5 font-semibold text-lg">{point.title}</h3>

                  <ul class="mt-1 list-disc list-inside space-y-2">
                    {point.points &&
                      point.points.map((point) => <li>{point}</li>)}
                  </ul>
                </div>
              </div>
            ))
          }
        </div>

        <hr class="my-16" />

        <h2 class="mt-16 mb-10 font-bold text-2xl">Safety/Security</h2>

        <div class="grid sm:grid-cols-2 md:grid-cols-4 mb-16 gap-12">
          {
            safety.map((point) => (
              <div class="flex gap-4 items-start">
                <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                  <Icon name={point.icon} class="invert" />
                </div>
                <div>
                  <h3 class="mt-1.5 font-semibold text-lg">{point.title}</h3>
                </div>
              </div>
            ))
          }
        </div>

        <a
          href="/contact"
          class="w-fit mx-auto rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
          Get In Touch
        </a>
      </div>
    </section>
  </main>
</Layout>
