---
import Layout from "../layouts/Layout.astro";

import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

const points = [
  {
    icon: "home-alt",
    title: "No parties policy",
    points: [],
  },
  {
    icon: "lock",
    title: "Noise Aware Systems",
    points: [],
  },
  {
    icon: "emoji-satisfied",
    title: "No hassle/communication with tenant",
    points: ["No worries about finding qualified tenants"],
  },
  {
    icon: "bell",
    title: "Risk is low on investment",
    points: [],
  },
  {
    icon: "key-alt",
    title: "Consistent, professional cleaning",
    points: [
      "Pristine property = great business",
      "With long term tenants you’re not aware of wear & tear until move out day ",
    ],
  },
  {
    icon: "wallet",
    title: "Paid on time",
    points: [],
  },
  {
    icon: "wallet",
    title: "Guest screening and background check",
    points: [],
  },
  {
    icon: "wallet",
    title: "Local staff at every property",
    points: [],
  },
  {
    icon: "wallet",
    title: "Guest screening and background check",
    points: [],
  },
];

const safety = [
  {
    icon: "wallet",
    title: "Security System",
    points: [],
  },
  {
    icon: "wallet",
    title: "Indoor and outdoor sensor to monitor noise",
    points: [],
  },
  {
    icon: "wallet",
    title: "Smart Lock",
    points: [],
  },
  {
    icon: "wallet",
    title: "Guest Screening",
    points: [],
  },
];
---

<Layout title="Book">
  <main>
    <section class="px-[5vw] md:px-[10vw] py-16">
      <div class="max-w-screen-xl mx-auto">
        <div class="mx-auto max-w-lg text-center">
          <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
            Why Partner With Us?
          </h2>
          <p class="text-lg mt-4 text-slate-600">
            We partner with residential landlords to offer a hassle-free,
            passive strategy to renting their property.
          </p>
        </div>

        <h2 class="mt-16 mb-10 font-bold text-2xl">Landlord Benefits</h2>

        <div class="grid sm:grid-cols-2 md:grid-cols-3 mb-16 gap-12">
          {
            points.map((point) => (
              <div class="flex gap-4 items-start">
                <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                  <Icon name={point.icon} class="invert" />
                </div>
                <div>
                  <h3 class="font-semibold text-lg">{point.title}</h3>

                  <ul class="mt-1 list-decimal list-inside space-y-2">
                    {point.points &&
                      point.points.map((point) => <li>{point}</li>)}
                  </ul>
                </div>
              </div>
            ))
          }
        </div>

        <hr class="my-16" />

        <h2 class="mt-16 mb-10 font-bold text-2xl">Safety/Security</h2>

        <div class="grid sm:grid-cols-2 md:grid-cols-4 mb-16 gap-12">
          {
            safety.map((point) => (
              <div class="flex gap-4 items-start">
                <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                  <Icon name={point.icon} class="invert" />
                </div>
                <div>
                  <h3 class="font-semibold text-lg">{point.title}</h3>
                </div>
              </div>
            ))
          }
        </div>

        <a
          href="/contact"
          class="w-fit mx-auto rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
          Get In Touch
        </a>
      </div>
    </section>
  </main>
</Layout>
