---
import { Image, Picture } from '@astrojs/image/components';

import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Dropdown from "./dropdown.astro";

import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";

import logo from "../../images/las-casas-logo.png";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "#" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //   ],
  // },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Book",
    path: "/book",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Partner",
    path: "/partner",
  },
  {
    title: "FAQ",
    path: "/faq",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-7 sm:my-8">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <Image src={logo} alt="Las Casas Logo" class="w-28" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-5 h-5 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-8 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3 items-center">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
